<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:aop="http://www.springframework.org/schema/aop"
	   xmlns:tx="http://www.springframework.org/schema/tx"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd"
	   default-autowire="byName" default-lazy-init="true">

	<!-- 属性文件读入 -->
	<bean id="propertyConfigurer" class="com.jijizu.base.util.DecryptPropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<!-- memcached使用的配置文件 -->
				<value>classpath*:config/memcached.properties</value>
				<value>classpath*:config/email.properties</value>
			</list>
		</property>
	</bean>
		
	<!-- 以AspectJ方式 定义 AOP --><!-- 
	<aop:config proxy-target-class="true">
		<aop:advisor pointcut="execution(* javacommon.base.BaseManager.*(..))" advice-ref="txAdvice"/>
		<aop:advisor pointcut="execution(* com.roadway.user.service.*Manager.*(..))" advice-ref="txAdvice"/>
		<aop:advisor pointcut="execution(* com.roadway.goods.service.*Manager.*(..))" advice-ref="txAdvice"/>
		<aop:advisor pointcut="execution(* com.roadway.cart.service.*Manager.*(..))" advice-ref="txAdvice"/>
		<aop:advisor pointcut="execution(* com.roadway.collectinfo.service.*Manager.*(..))" advice-ref="txAdvice"/>
		<aop:advisor pointcut="execution(* com.roadway.company.service.*Manager.*(..))" advice-ref="txAdvice"/>
		<aop:advisor pointcut="execution(* com.roadway.goodsArea.service.*Manager.*(..))" advice-ref="txAdvice"/>
		<aop:advisor pointcut="execution(* com.roadway.goodsSalable.service.*Manager.*(..))" advice-ref="txAdvice"/>
		<aop:advisor pointcut="execution(* com.roadway.order.service.*Manager.*(..))" advice-ref="txAdvice"/>
		<aop:advisor pointcut="execution(* com.roadway.pay.service.*Manager.*(..))" advice-ref="txAdvice"/>
		<aop:advisor pointcut="execution(* com.roadway.document.service.*Manager.*(..))" advice-ref="txAdvice"/>
		<aop:advisor pointcut="execution(* com.roadway.wanlitong.service.*Manager.*(..))" advice-ref="txAdvice"/>
		<aop:advisor pointcut="execution(* com.roadway.promotion.service.*Manager.*(..))" advice-ref="txAdvice"/>
		<aop:advisor pointcut="execution(* com.roadway.preferenceGoods.service.*Manager.*(..))" advice-ref="txAdvice"/>
		<aop:advisor pointcut="execution(* com.roadway.wltPreferenceGoods.service.*Manager.*(..))" advice-ref="txAdvice"/>
	</aop:config>
	 -->
	<!-- 初始化动态获取Bean工厂 -->
	<bean class="com.jijizu.base.util.ApplicationContextHolder" scope="singleton" lazy-init="false">
	</bean>

	<!-- 基本事务定义,使用transactionManager作事务管理,默认get* find*方法的事务为readonly,其余方法按默认设置.
			 默认的设置请参考Spring文档事务一章. -->
	<tx:advice id="txAdvice">
		<tx:attributes>
			<tx:method name="*" read-only="true" />
		</tx:attributes>
	</tx:advice>
</beans>