<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:aop="http://www.springframework.org/schema/aop"
	   xmlns:tx="http://www.springframework.org/schema/tx"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd">
    
    <!-- 删除系统通知验证 -->
    <bean id="deleteNoticeCheckContext" class="com.jijizu.core.check.CheckContext">
		<property name="checkList">
			<list>
				<ref bean="userLoginCheck"/>
				<ref bean="paramsNotNullCheck"/>
			</list>
		</property>
	</bean>
	
	<!-- 更新系统通知内容验证 -->
	<bean id="updateNoticeContentCheckContext" class="com.jijizu.core.check.CheckContext">
		<property name="checkList">
			<list>
				<ref bean="userLoginCheck"/>
				<ref bean="paramsNotNullCheck"/>
			</list>
		</property>
	</bean>
    
	<bean id="noticeDAO" class="com.jijizu.core.notice.dao.impl.NoticeDAOImpl">
		<property name="dataSource">
            <ref bean="dataSourceJijizu" />
        </property>
        <property name="sqlMapClient">
            <ref bean="sqlMapClientJijizu" />
        </property>
	</bean>
	
	<bean id="noticeService" class="com.jijizu.core.notice.service.impl.NoticeServiceImpl">
		<property name="noticeDAO" ref="noticeDAO"/>
		<property name="messageService" ref="messageService"/>
		<property name="deleteNoticeCheckContext" ref="deleteNoticeCheckContext"/>
		<property name="updateNoticeContentCheckContext" ref="updateNoticeContentCheckContext"/>
	</bean>
	
</beans>