<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:aop="http://www.springframework.org/schema/aop"
	   xmlns:tx="http://www.springframework.org/schema/tx"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd">
           
    <!-- 个人认证申请验证 -->
	<bean id="addPersonAuthCheckContext" class="com.jijizu.core.check.CheckContext">
		<property name="checkList">
			<list>
				<ref bean="userLoginCheck"/>
				<ref bean="paramsNotNullCheck"/>
				<ref bean="nameLegitimacyCheck"/>
				<ref bean="emailCheck"/>
				<ref bean="mobileCheck"/>
				<ref bean="persoanalAuthNotExistCheck"/>
			</list>
		</property>
	</bean>
	
	<!-- 企业认证申请 -->
	<bean id="addEnterpriseAuthCheckContext" class="com.jijizu.core.check.CheckContext">
		<property name="checkList">
			<list>
				<ref bean="userLoginCheck"/>
				<ref bean="paramsNotNullCheck"/>
				<ref bean="nameLegitimacyCheck"/>
				<ref bean="mobileCheck"/>
				<ref bean="enterpriseAuthNotExistCheck"/>
			</list>
		</property>
	</bean>
	
	<bean id="authDAO" class="com.jijizu.core.auth.dao.impl.AuthDAOImpl">
		<property name="dataSource">
            <ref bean="dataSourceJijizu" />
        </property>
        <property name="sqlMapClient">
            <ref bean="sqlMapClientJijizu" />
        </property>
	</bean>
	
	<bean id="authService" class="com.jijizu.core.auth.service.impl.AuthServiceImpl">
		<property name="authDAO" ref="authDAO"/>
		<property name="addPersonAuthCheckContext" ref="addPersonAuthCheckContext"/>
		<property name="addEnterpriseAuthCheckContext" ref="addEnterpriseAuthCheckContext"/>
	</bean>
	
</beans>