<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:aop="http://www.springframework.org/schema/aop"
	   xmlns:tx="http://www.springframework.org/schema/tx"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd">

	<bean id="sysDataDicDAO" class="com.jijizu.core.dao.impl.SysDataDicDAOImpl">
		<property name="dataSource">
            <ref bean="dataSourceJijizu" />
        </property>
        <property name="sqlMapClient">
            <ref bean="sqlMapClientJijizu" />
        </property>
	</bean>
	
	<bean id="sysDataDicService" class="com.jijizu.core.service.impl.SysDataDicServiceImpl" init-method="init">
		<property name="sysDataDicDAO" ref="sysDataDicDAO"/>
	</bean>
	
</beans>