${toUser}你好：<br/>
<br/>
${fromUser}在集集组上申请加您为好友 ，请用此链接查看 <a href="http://www.jijizu.com/notice.jspa">http://www.jijizu.com/notice.jspa</a><br/>
<br/>
感谢您对集集组的支持！<br/>
<br/>
集集组&nbsp;&nbsp;<a href="http://www.jijizu.com">http://www.jijizu.com/</a>